body{
    background: url(./Images/background.jpg) repeat 0 0;
}

.intro{
    text-align: center;
    font-family: Century Gothic, sans-serif;
    font-size: 150%;
    margin: 1.2em;
    padding-top: 1.4em;
    background: inherit;
}

.loginForm{
    margin: 10% 10% 10% 35%;
    font-size: 150%;
}

.container{
    margin-left: 7%;
    margin-right: 7%;
    margin-top: -2%;
    padding: 3%;
}

table {
    background-color: beige;
}

.button{
    margin-top: 2%;
    margin-bottom: 2%;
}